---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Koen van Vlimmeren
  </div>
  <!-- <div class="inline opacity-75">
    Developed by <a href="https://koenv.dev/" target="_blank" class="font-bold">Koen van Vlimmeren</a>
  </div> -->
</footer>
<style>

</style>
